* {
    font: inherit;
    color: inherit;

    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;

    box-sizing: border-box;
    line-height: inherit;

    scroll-margin-top: 2rem;
    scroll-behavior: smooth;

    interpolate-size: allow-keywords;
    /* outline: 1px dashed #f007; */
}

a {
    text-decoration: none;
}

menu,
ul,
ol {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

:root {
    --color-background: light-dark(#cccccc, #111214);
    --color-foreground: light-dark(#111214, #42b351);

    --line-height: 1lh;
    --char-width: 1ch;
}

html {
    color: var(--color-foreground);
    background-color: var(--color-background);
    font-family: "Cascadia Mono", "Courier New", Courier, monospace;
    color-scheme: light dark;
    line-height: 1.15;
}

html.--light {
    color-scheme: light;
}

html.--dark {
    color-scheme: dark;
}

body {
    display: grid;
    height: 100dvh;
}

.thin-box {
    --border: 2px;
    --vertical: calc(var(--line-height) - var(--border));
    --horizontal: calc(var(--char-width) - var(--border));

    padding: calc(var(--vertical) / 2) calc(var(--char-width) + var(--horizontal) / 2);
    margin: calc(var(--vertical) / 2) calc(var(--horizontal) / 2);
    border: var(--border) solid var(--color-foreground);
}

.double-box {
    --border: 4px;
    --vertical: calc(var(--line-height) - var(--border));
    --horizontal: calc(var(--char-width) - var(--border));

    padding: calc(var(--vertical) / 2) calc(var(--char-width) + var(--horizontal) / 2);
    margin: calc(var(--vertical) / 2) calc(var(--horizontal) / 2);
    border: var(--border) double var(--color-foreground);
}

.titled-box__title {
    position: absolute;
    background-color: var(--color-background);
    color: var(--color-foreground);
    translate: 0 calc(-1 * var(--line-height));
    padding: 0 var(--char-width);
}

.root {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.root__title:is(:hover, :focus-visible) {
    background-color: var(--color-foreground);
    color: var(--color-background);
}

.root__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.root__header__navbar {
    display: flex;
    flex-direction: row;
    column-gap: calc(2 * var(--char-width));
}

@media screen and (max-width: 800px) {
    .root__header {
        flex-direction: column;
        justify-content: initial;
        align-items: end;
    }

    .root__header__navbar {
        align-self: start;
        flex-direction: column;
    }
}

.root__main {
    display: grid;
    justify-content: center;
    text-align: justify;
}

*:where(:has(.root__main__content)) {
    display: grid;
    overflow: hidden;
}

.root__main__content {
    display: grid;
    padding: var(--line-height) var(--char-width);
    max-width: 100ch;
    overflow: auto;
    width: 100%;
}

@supports(width: stretch) {
    .root__main__content {
        width: stretch;
    }
}

@supports selector(::-webkit-scrollbar-track) {
    .root__main__content {
        margin: 0 calc(-1 * var(--char-width));
    }

    ::-webkit-scrollbar {
        width: var(--char-width);
    }

    ::-webkit-scrollbar-track {
        background: var(--color-foreground);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--color-background);
        border: 2px solid var(--color-foreground);
    }
}

@supports not selector(::-webkit-scrollbar) {}

.navbar__anchor {
    padding: 0 var(--char-width);
}

.navbar__anchor:is(:hover, :focus-visible) {
    padding: 0;
    background-color: var(--color-foreground);
    color: var(--color-background);
}

.navbar__anchor.--selected {
    padding: 0;
    font-weight: bold;
}

.navbar__anchor:is(.--selected, :hover, :focus-visible)::before {
    content: "<";
}

.navbar__anchor:is(.--selected, :hover, :focus-visible)::after {
    content: ">";
}

.navbar__anchor:active {
    text-decoration: underline;
    background-color: var(--color-foreground);
    color: var(--color-background);
}

.theme:is(:hover, :focus-visible) {
    background-color: var(--color-foreground);
    color: var(--color-background);
}

.footer {
    text-align: center;
}

.prose {
    display: grid;
    align-content: start;
    gap: var(--line-height);
}

.prose p {
    text-indent: calc(4 * var(--char-width));
}

.prose em {
    font-style: italic;
}

.prose ul {
    display: list-item;
    list-style-position: inside;
}

.prose li {
    text-indent: calc(4 * var(--char-width));
    text-align: left;
}

.prose li::marker {
    content: "- ";
}

.prose li:nth-last-child(n + 3):after {
    content: ";";
}

.prose li:nth-last-child(2):after {
    content: "; e";
}

.prose li:nth-last-child(1):after {
    content: ".";
}

.prose a {
    text-decoration: underline;
}

.prose a:is(:hover, :focus-visible) {
    font-style: italic;
    font-weight: bold;
}

.footer a {
    text-decoration: underline;
}

.footer a:is(:hover, :focus-visible) {
    font-style: italic;
    font-weight: bold;
}